USE [master]
GO
/****** Object:  Database [EMPLOYEE_SEARCH_DB]    Script Date: 2/7/2020 4:32:53 AM ******/
CREATE DATABASE [EMPLOYEE_SEARCH_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPLOYEE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EMPLOYEE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMPLOYEE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEE_SEARCH_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEE_SEARCH_DB]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 2/7/2020 4:32:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[MIDDLE_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[JOB_TITLE] [varchar](50) NULL,
	[AGE] [varchar](50) NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEES] ON 

INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [JOB_TITLE], [AGE], [START_DATE], [END_DATE]) VALUES (1, N'Ben', NULL, N'Stev', N'Developer', N'30', CAST(N'2020-07-02' AS Date), CAST(N'2020-07-06' AS Date))
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [JOB_TITLE], [AGE], [START_DATE], [END_DATE]) VALUES (2, N'Amit', NULL, N'Kumar', N'Tester', N'32', CAST(N'2020-07-03' AS Date), CAST(N'2020-07-07' AS Date))
INSERT [dbo].[EMPLOYEES] ([EMPLOYEE_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [JOB_TITLE], [AGE], [START_DATE], [END_DATE]) VALUES (3, N'Vishu', NULL, N'Goyal', N'Manager', N'34', CAST(N'2020-07-04' AS Date), CAST(N'2020-07-08' AS Date))
SET IDENTITY_INSERT [dbo].[EMPLOYEES] OFF
USE [master]
GO
